<!--<%= pageName %>页面-->

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>页面名称</title>
    <link rel="stylesheet" href="../build/lib/font/iconfont/iconfont.css" />
    <link rel="stylesheet" href="../build/lib/font/webfont/webfont.css" />
    <link rel="stylesheet" href="../build/lib/reset.css" />
    <link rel="stylesheet" href="../build/<%= pageName %>.css" />
    <script src="//g.alicdn.com/hi/modulex/5.0.0/seed.js" data-config='{combine:true}'></script>
    <!--[if lt IE 9]>
    <script src="//g.alicdn.com/crm/flipper/0.4.0/vendor/html5shiv/html5shiv.js"></script>
    <![endif]-->
</head>
<body env="local" data-token="s9eYra1214">
<!--页面内容-->
<div class="content">

</div>
<!--输出错误调试信息-->
<div id="J_error_display"></div>
<script src="../build/<%= pageName %>.js"></script>
<script>
    require.config({
        'packages': {
            '<%= pkgName %>': {
                'base': '../dev/',
                'debug': true,
                'combine': false,
                'charset': 'utf-8'
            }
        }
    });
    require('<%= pkgName %>/pages/<%= pageName %>/index');
</script>
</body>
</html>
